{% extends 'header2.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}

</style>
<body>

<h2 style="color:#009CFF">Appointments</h2>
<br>
<table style="width: 90%">
  <tr>
      <td><b>Doctor Specialization</b></td>
      <td><b>Doctor name</b></td>
    <td><b>Date</b></td>
    <td><b>Time</b></td>
    <td><b>Fees</b></td>
  </tr>
  
  <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>

</table>

<p>appointments</p>

</body>
</html>
{% endblock %}